.searchTab {

    .content-wrapper {
        display: grid;
        justify-content: center;
        align-content: center;
        color: white;

    }

    .carousel-indicators {
        display: none;
    }

    .quick-search {
        background-color: $bg-color;
        border-radius: 6px;
        padding: 1em .5em;
        margin: 1em 0;
        display: grid;
        grid-gap: .5em;

        a {
            text-decoration: none;
            text-decoration: bold;
            color: white;

        }

        .quick-search-link {
            display: flex;
            justify-content: space-around;

            @media only screen and (max-width: 430px){
                display: grid;
                grid-template-columns: 1fr;
                max-width: 96vw;
            }
        }
    }
}